snippet fun
	function! ${1:function_name}(${2})
		${3:" code}
	endf
snippet if
	if ${1:condition}
		${2:" code}
	endif
snippet ife
	if ${1:condition}
		${2}
	else
		${3}
	endif
snippet section
	" ${1:title}:{{{
	"------------------------------------------------------------------------------



	"}}}

